# https://github.com/alexkaratarakis/gitattributes

# Auto detect text files and perform LF normalization
* text=auto
*.sh text eol=lf

# CSharp Language Attributes
*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf merge=union
*.csproj   text merge=union
*.exe binary
